/* Space out content a bit */
body {
  padding-top: 70px;
    font-family: 'Lato', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
}
h5.show-date {
    color: #808080;
}
.jumbotron {
    text-align: left;
    background: #a8cbd5;
}

.space-top {
    margin-top: 15px;
}

.navbar-default {
    background: #a8cbd5;
}
.nav-pills > li > a {
    border-radius: 0px;
    background: transparent;
    color: #000000;
    padding: 13px 15px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {    background: transparent;
    background: transparent;
    border-bottom: 3px solid #519DA5;
    border-radius: 0;
    color: #000000;
}
.nav-pills > li > a:hover {
    background: #519DA5;
    color: #ffffff;
    border-bottom: 3px solid #519DA5;
}
ul.nav {
    margin-top: -5px;
}

.label-pink {
    background: #DC6369;
}
.label-green {
    background: #749A61;
}
.label-blue {
    background: #8DCDE6;
}
.paymentlist td:first-child, .row-total td:first-child {
    width: 100px;
}
.paymentlist td:nth-child(3) {
    width: 200px;
    text-align: right;
    font-weight: bold;
}
.paymentlist td:nth-child(4) {
    width: 20px;
    text-align: right;
}
.paymentlist td:nth-child(5) {
    text-align: right;
    width: 100px;
}
.paymentlist td:nth-child(6) {
    text-align: right;
    width: 30px;
}
.paymentlist td:nth-child(5) .btn, .paymentlist td:nth-child(6) .btn {
    padding: 4px 7px;
    font-size: 12px;
}

.row-total {
    font-size: 20px;
}
.row-total td:nth-child(3) {
    text-align: right;
}
.row-total td:nth-child(4) {
    width: 20px;
    text-align: right;
    padding-right: 150px;
}
.btn-default {
    background: #5ca1ac;
    border: 1px solid #5ca1ac;
    color: #fff;
}
.btn-default:hover {
    background: #2A909E;
    border: 1px solid #2A909E;
    color: #ffffff;
}
.btn-primary {
    background : #DE8140;
    border: 1px solid #D4703E;
}
.btn-primary:hover {
    background: #E06C1F;
    border: 1px solid #E06C1F;
}
.btn-add-payment {
    position: absolute;
    right: 15px;
    top: -9px;
}
.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 10px;
}
.jumbotron .btn {
font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 20px;
}
.jumbotron .btn-primary {
    font-size: 20px;
    padding: 10px 20px;
    background : #DE8140;
    border: 1px solid #D4703E;
}
.jumbotron .btn-primary:hover {
    background: #E06C1F;
    border: 1px solid #E06C1F;
}

.jumbotron h4 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.txt-red {
    color: #BC2E30;
}
.txt-green {
    color: #80A665;
}
.tab-content {
    margin-top: 20px;
}
#tbl-summary {
    margin-top: 10px;
}
#tbl-summary thead th {
    font-weight: bold;
}
#tbl-summary tbody td:nth-child(2) {
    color: #808080;
    text-align: right;
}
#tbl-summary thead th:nth-child(2) {
    text-align: right;
}
#tbl-summary thead th:last-child {
    text-align: right;
}
#tbl-summary tbody td:last-child {
    font-size: 20px;
    text-align: right;
}

#tbl-debt, #tbl-debt tr, #tbl-debt tr td {
    border: 0px;
}
#tbl-debt td:last-child {
    text-align: right;
    font-size: 20px;
}
.nav-tabs > li > a {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2882A3;
}
.nav-tabs > li > a:hover {
    background: #f0f0f0;
}
button.input-group-addon {
    float: left;
}
btn {
    border-radius: 2px;
}
/* Supporting marketing content */
.marketing {
    margin: 0px auto;
    text-align: center;

}
.marketing p + h4 {
    margin-top: 28px;
}
.marketing h1 {
    font-family: 'Oswald', sans-serif;
}
.marketing .lead {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #808080;
}
form {
    text-align: left;
}
label {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #555555;
}
h4, h3, nav, .btn-add-payment {
    font-family: 'Lato', sans-serif;

}
.col-lg-12 h4 {
    text-align: left;
    margin-left: 15px;
    color: #555555;
}
.btn-add-payment {
    font-size: 16px;
    background : #DE8140;
    border: 1px solid #D4703E;
}
.btn-add-payment:hover {
    background: #E06C1F;
    border: 1px solid #E06C1F;
}
.label {
    font-weight: normal;
    font-size: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
.jumbotron label {
        display: block;
    }
    .jumbotron .col-sm-7 {
        float: left;
        position: relative;
        width: 75%;
    }
    .jumbotron .col-sm-2 {
        float: left;
        position: relative;
        width: 25%;
    }
    .jumbotron .btn-primary {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .help {
        display: none !important;
    }
}