/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
h5.show-date {
    color: #808080;
}
.jumbotron {
    text-align: left;
}

.space-top {
    margin-top: 15px;
}

.label-pink {
    background: pink;
}
.label-green {
    background: limegreen;
}
.label-blue {
    background: deepskyblue;
}
.paymentlist td:first-child, .row-total td:first-child {
    width: 100px;
}
.paymentlist td:nth-child(3) {
    width: 200px;
    text-align: right;
    font-weight: bold;
}
.paymentlist td:nth-child(4) {
    width: 20px;
    text-align: right;
}
.paymentlist td:nth-child(5) {
    text-align: right;
    width: 100px;
}
.paymentlist td:nth-child(6) {
    text-align: right;
    width: 30px;
}
.paymentlist td:nth-child(5) .btn, .paymentlist td:nth-child(6) .btn {
    padding: 4px 7px;
    font-size: 12px;
}

.row-total {
    font-size: 20px;
}
.row-total td:nth-child(3) {
    text-align: right;
}
.row-total td:nth-child(4) {
    width: 20px;
    text-align: right;
    padding-right: 150px;
}

.btn-add-payment {
    position: absolute;
    right: 0px;
    top: 0px;
}
.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
.txt-red {
    color: red;
}
.txt-green {
    color: limegreen;
}
.tab-content {
    margin-top: 20px;
}
#tbl-summary {
    margin-top: 10px;
}
#tbl-summary thead th {
    font-weight: bold;
}
#tbl-summary tbody td:nth-child(2) {
    color: #808080;
    text-align: right;
}
#tbl-summary thead th:nth-child(2) {
    text-align: right;
}
#tbl-summary thead th:last-child {
    text-align: right;
}
#tbl-summary tbody td:last-child {
    font-size: 20px;
    text-align: right;
}

#tbl-debt, #tbl-debt tr, #tbl-debt tr td {
    border: 0px;
}
#tbl-debt td:last-child {
    text-align: right;
    font-size: 20px;
}
.nav-tabs > li > a {
    font-size: 18px;
    font-weight: 500;
}
button.input-group-addon {
    float: left;
}
/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
