
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Payment List</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- LOAD JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- LOAD ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

    <script src="/js/kidtungControllers.js"></script>
</head>

<body ng-app="kidtungApp" ng-controller="addExpendController">

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="paymentlist">Payment</a></li>
                <li role="presentation"><a href="summary">Summary</a></li>
                <li role="presentation"><a href="#">Help</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">KIDTUNG</h3>
    </div>

    <div class="row marketing">
        <div class="col-lg-12">
            <h4>Payment List</h4>
            <button type="button" class="btn btn-success btn-add-payment" data-toggle="modal" data-target="#newExpend">+ Add New Expend</button>

            <h5 class="show-date" style="margin-top: 30px;">1/1/14</h5>
            <table class="table paymentlist">
                <tr>
                    <td><span class="label label-pink">Pang</span></td>
                    <td>Gas</td>
                    <td>100</td>
                    <td>&#3647; </td>
                    <td><button type="button" class="btn" data-toggle="modal" data-target="#newExpend"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    <td><button type="button" class="btn"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                <tr>
                    <td><span class="label label-green">Bee</span></td>
                    <td>somtum</td>
                    <td>200</td>
                    <td>&#3647; </td>
                    <td><button type="button" class="btn" data-toggle="modal" data-target="#newExpend"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    <td><button type="button" class="btn"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
            </table>

            <h5 class="show-date">2/1/14</h5>
            <table class="table paymentlist">
                <tr>
                    <td><span class="label label-blue">Ni</span></td>
                    <td>Breakfast</td>
                    <td>120</td>
                    <td>&#3647; </td>
                    <td><button type="button" class="btn" data-toggle="modal" data-target="#newExpend"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    <td><button type="button" class="btn"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
            </table>

            <table class="table row-total">
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td>420</td>
                    <td>&#3647; </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newExpend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="expendForm()" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Expand</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputWhoPaid" class="col-sm-3 control-label">Who paid</label>
                        <div class="col-sm-9">
                            <select id="inputWhoPaid" class="form-control" ng-model="name">
                                <option value="0">Select member</option>
                                <option value="pang">Pang</option>
                                <option value="bee">Bee</option>
                                <option value="ni">Ni</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPurpose" class="col-sm-3 control-label">Purpose</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPurpose" ng-model="purpose" placeholder="eg. Gas, Museum fee, ...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  for="inputPrice" class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                            <input type="text" class="form-control" id="inputPrice" ng-model="price" placeholder="Amount">
                            <div class="input-group-addon">&#3647;</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDate" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                            <input type="text" class="form-control date-picker" id="inputDate" ng-model="date" placeholder="">
                            <div class="input-group-addon btn" for="inputDate"><span class="glyphicon glyphicon-calendar"></span></div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Company 2014</p>
    </footer>

</div> <!-- /container -->
<!--
 Bootstrap core JavaScript
=======================
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/docs.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script>
$(".date-picker").datepicker();

</script>
</body>
</html>
