
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Payment List</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--&lt;!&ndash; cdn for modernizr, if you haven't included it already &ndash;&gt;-->
    <!--<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>-->
    <!--&lt;!&ndash; polyfiller file to detect and load polyfills &ndash;&gt;-->
    <!--<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>-->
    <!--<script>-->
        <!--webshims.setOptions('waitReady', false);-->
        <!--webshims.setOptions('forms-ext', {types: 'date'});-->
        <!--webshims.polyfill('forms forms-ext');-->
    <!--</script>-->

    <!-- LOAD JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- LOAD ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

    <script src="/js/kidtung.js"></script>
</head>

<body ng-app="kidtungApp" ng-controller="addExpendController">

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/kidtung/{{globalTripCode}}/paymentlist">Payment</a></li>
                <li role="presentation"><a href="/kidtung/{{globalTripCode}}/summary">Summary</a></li>
                <li role="presentation"><a href="#">Help</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">KIDTUNG</h3>
    </div>

    <div class="row marketing">
        <div class="col-lg-12">
            <h4>Payment List</h4>
            <button type="button" class="btn btn-success btn-add-payment" data-toggle="modal" data-target="#newExpend">+ Add New Expend</button>
            <span ng-repeat = '(key, expends) in allExpends'>
                <h5 class="show-date" style="margin-top: 30px;">{{key}}</h5>
                <table class="table paymentlist">
                    <tr ng-repeat="expend in expends">
                        <td><span class="label label-blue">{{expend.name}}</span></td>
                        <td>{{expend.item}}</td>
                        <td>{{expend.price | currency:""}}</td>
                        <td>&#3647; </td>
                        <td><button type="button" ng-click='editExpend(expend.code, expend.name)' class="btn" data-toggle="modal" data-target="#newExpend"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        <td><button type="button" ng-click='deleteExpend(expend.code, expend.name)' class="btn"><span class="glyphicon glyphicon-trash"></span></button></td>
                    </tr>
                </table>
            </span>

            <table class="table row-total">
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td>{{total|currency:""}}</td>
                    <td>&#3647; </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newExpend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="expendForm()" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Expand</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" ng-model="code">
                    <div class="form-group">
                        <label for="inputWhoPaid" class="col-sm-3 control-label">Who paid</label>
                        <div class="col-sm-9">
                            <select id="inputWhoPaid" required class="form-control" ng-model="name">
                                <option value="">Please select</option>
                                <option ng-repeat="eachMember in allMember" value="{{eachMember.name}}">{{eachMember.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPurpose" class="col-sm-3 control-label">Purpose</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPurpose" required ng-model="purpose" placeholder="eg. Gas, Museum fee, ...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  for="inputPrice" class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                            <input type="number" step="any" class="form-control" required id="inputPrice" ng-model="price" placeholder="Amount">
                            <div class="input-group-addon">&#3647;</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDate" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control" type="date" id="inputDate" ng-model="date" placeholder="">
                                <!--<div class="input-group-addon btn" for="inputDate"><span class="glyphicon glyphicon-calendar"></span></div>-->
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Company 2014</p>
    </footer>

</div> <!-- /container -->
<!--
 Bootstrap core JavaScript
=======================
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/docs.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script>
//$(".date-picker").datepicker();

</script>
</body>
</html>
