
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Summary</title>

    <!-- Bootstrap core CSS -->
    <link href="/kidtungasset/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/kidtungasset/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="/kidtungasset/js/ie-emulation-modes-warning.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/kidtungasset/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- LOAD JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- LOAD ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

    <script src="/kidtungasset/js/kidtung.js"></script>
</head>

<body ng-app="kidtungApp" ng-controller="summaryController">


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/kidtung/{{globalTripCode}}/paymentlist">Payment</a></li>
                    <li role="presentation" class="active"><a href="/kidtung/{{globalTripCode}}/summary">Summary</a></li>
                    <li role="presentation" class="help"><a href="#">Help</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"><img src="/kidtungasset/img/calculator.png" style="width: 35px; height: 35px;"/>KIDTUNG</h3>
        </div>
    </div>
</nav>
    <div class="container">
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Summary</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Manage Debts</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

                <div class="row">
                    <div class="col-sm-12">
                <div class="col-sm-6 balance-box"><h2>{{tripAverage|currency:""}} &#3647;</h2><h4 class="label-total">Total Balance</h4></div>
                <div class="col-sm-6 amount-box"><h2>{{total|currency:""}} &#3647;</h2><h4 class="label-total">Total Amount</h4></div>
                    </div>
                </div>
                <table id="tbl-summary" class="table">
                    <thead>
                        <tr>
                            <th>Member</th>
                            <th>Paid</th>
                            <th>Debt/Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="each in totalForEach">
                            <td><span class="label label-blue">{{each.memberName}}</span></td>
                            <td>{{each.pay|currency}}&#3647;</td>
                            <td ng-if="each.balance < 0"><span class="txt-red">{{each.balance|currency:""}} &#3647;</span></td>
                            <td ng-if="each.balance >= 0"><span class="txt-green">{{each.balance|currency:""}} &#3647;</span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <table id="tbl-debt" class="table">
                    <tr ng-repeat="dept in depts">
                        <td><span class="label label-pink">{{dept.from}}</span></td>
                        <td>pay to <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></td>
                        <td><span class="label label-blue">{{dept.to}}</span></td>
                        <td>{{dept.amount|currency:""}} &#3647;</td>
                    </tr>

                </table>
            </div>
        </div>

    </div>

    <footer class="footer">
        <p>&copy; Hackton 2014</p>
    </footer>

</div> <!-- /container -->

<!--
 Bootstrap core JavaScript
=======================
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/kidtungasset/js/bootstrap.min.js"></script>
<script src="/kidtungasset/js/docs.min.js"></script>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
</body>
</html>
